{
    "height": 30, // panjang waybar
    "layer" : battom, // posisi waybar
    "margin-top": 6, 
    "margin-battom": 0,
    "margin-left": 10,
    "margin-right": 10,
    "spacing": 5, // rentang celah gaps (4px)
    "modules-left": ["costum/launcher", "cpu", "memory", "wlr/workspace", "costum/weather"],
    "modules-center": ["costum/spotify"],
    "modules-right": ["tray", "backlight", "pulseaudio", "network", "battery", "clock", "costum/powermenu"],
    "wlr/workspace": {
        "format": "{icon}",
        "on-click": "activate",
        "format-icon": {
            "1": ""
            "2": ""
            "3": ""
            "5": ""
            "urgent": ""
            "activate": ""
            "default" : ""
        }
    },
    "hyprland/window": {
        "format": "{}"
    },
    "tray": {
        "spacing": 10
    },
    "clock": {
        "format": "<span color='#1b242b'></span>{:%a %b %d}",
        "format-alt": "<span color='#1b242b'></span>{:%I %M %p}",
        "tooltip-format": "<big>{:%B %Y}</big>\n<tt><small>{calendar}</small></tt>",
    },
    