$theme: 'dark';

//gnome
// $red: #f66151;
// $green: #57e389;
// $blue: #62a0ea;
// $yellow: #f6d32d;
// $magenta: #c061cb;
// $teal: #5bc8aF;
// $orange: #ffa348;

$red: #7ad4ff;
$green: #73daca;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$teal: #51e6e6;
$orange: #ff9e64;

$bg_color: #0f1f3e;
$fg_color: #c0caf5;
$hover_fg: #c0caf5;
$accent_fg: #171717;
