$theme: 'dark';

//gnome
// $red: #f66151;
// $green: #57e389;
// $blue: #62a0ea;
// $yellow: #f6d32d;
// $magenta: #c061cb;
// $teal: #5bc8aF;
// $orange: #ffa348;

//charm
$theme: 'tokyo_night';

$red:    #f7768e;
$green:  #9ece6a;
$yellow: #e0af68;
$blue:   #7aa2f7;
$magenta:#bb9af7;
$teal:   #73daca;
$orange: #ff9e64;

$bg_color:  rgb(65, 72, 104, 0.9);
$fg_color:  #c0caf5;
$hover_fg:  #c0caf5;
$accent_fg: rgb(65, 72, 104, 0.9);
